@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #f5f7fa;
		--foreground: #333333;

		--card: #ffffff;
		--card-foreground: #333333;

		--popover: #ffffff;
		--popover-foreground: #333333;

		--primary: #4a90e2;
		--primary-foreground: #ffffff;

		--secondary: #f5f7fa;
		--secondary-foreground: #333333;

		--muted: #e6e9ed;
		--muted-foreground: #737373;

		--accent: #71b3ff;
		--accent-foreground: #333333;

		--destructive: #ef4444;
		--destructive-foreground: #fafafa;

		--border: #e5e5e5;
		--input: #e5e5e5;
		--ring: #4a90e2;

		--radius: 0.5rem;
	}

	.dark {
		--background: #262626;
		--foreground: #f2f2f2;

		--card: #333333;
		--card-foreground: #f2f2f2;

		--popover: #333333;
		--popover-foreground: #f2f2f2;

		--primary: #4a90e2;
		--primary-foreground: #ffffff;

		--secondary: #333333;
		--secondary-foreground: #f2f2f2;

		--muted: #404040;
		--muted-foreground: #a6a6a6;

		--accent: #448858;
		--accent-foreground: #f2f2f2;

		--destructive: #ef4444;
		--destructive-foreground: #fafafa;

		--border: #4d4d4d;
		--input: #4d4d4d;
		--ring: #4a90e2;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.logo-container {
	display: flex;
	align-items: center;
}

html {
	scroll-behavior: smooth;
}

@layer utilities {
	.text-muted-foreground {
		color: var(--muted-foreground);
	}
}
